.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.App h1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.App ul {
    margin-top: 600px;
    margin-left: -245px;
    margin-top: 85px;
    list-style: none;
    background-color: yellow;
}